body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: rgb(39, 39, 74);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box{
    background-color: rgb(120, 120, 161);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}
#input-field{
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
#input-field:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(57, 57, 209, 0.7);
}

#add-input{
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(57, 57, 209);
    color: white;
    cursor: pointer;
    font-weight: 600;
}
#add-input:hover{
    background-color: rgb(50, 50, 98);
}
#add-input:active{
    transform: scale(0.98);
    opacity: 0.8;
}
#input-list{
    list-style-type: none;
    margin-top: 10px;
    padding-left: 10px;
    max-height: 300px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
#input-list li{
    background-color: rgb(96, 96, 138);
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    position: relative;
}
#input-list li button{
    float: right;
    background-color: rgb(239, 1, 1);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 3px 8px;
}
#input-list li button:hover{
    background-color: rgb(179, 0, 0);
}
#input-list li button:active{
    transform: scale(0.98);
    opacity: 0.8;
}
.input-value{
    width: 100%;
    word-wrap: break-word;
}
#clear-list{
    display: flex;
    float: right;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(234, 121, 68);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#clear-list:hover{
    background-color: rgb(216, 98, 51);
}
#clear-list:active{
    transform: scale(0.98);
    opacity: 0.8;
}
@media screen and (max-width: 480px) {
  #add-input{
    margin-top: 10px;
    width: 100%;
  }
  #input-field{
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }
  .container-box{
    width: 80%;
  }
  .input-header{
    display: none;
  }
}
@media screen and (min-width: 481px) {
  input::placeholder{
    opacity: 0;
  }
    
}